.Chat.main
  .Chat.main__group-info
    .Chat.main__group-info__group
      test
      .Chat.main__group-info__name
        member:masa
    .Chat.main__group-info__btn
      = link_to "#", class: "btn--edit"do
        Edit
  .Chat.main__message-list
    .Chat.main__message-list__message
      .Chat.main__message-list__message__upper
        .Chat.main__message-list__message__upper__user-name
          yusuke
        .Chat.main__message-list__message__upper__date
          2020/7/12 02:15
      .Chat.main__message-list__message__lower
        hoge
      .Chat.main__message-list__message__upper
        .Chat.main__message-list__message__upper__user-name
          yusuke
        .Chat.main__message-list__message__upper__date
          2020/7/12 02:15
      .Chat.main__message-list__message__lower
        hoge
  .Chat.main__message-form
    .Chat.main__message-form__new--message
      %input.message__form{:placeholder => "type a message"}
      .Chat.main__message-form__new--message__mask
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
      %input.submit-btn{:type => "submit", :value => "Send"}
      