* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.Side.bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
  display: block;
  &__user-name{
    background-color: #253141;
    height: 100px;
    display: flex; 
    align-items: center;
    color: white;
    &__Top-items{
      height: 20px;
      width: 260px;
      background-color: #253141;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
        .icons--edit {
          text-decoration: none;
          font-size: 16px;
          color: white;
        }
        .icons--cog{
          color: white;
        }
    }
  }
  
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    overflow: scroll;
    box-sizing: border-box;
    color: #fff;
    &__group{
      width: 260px;
      display: block;
      padding: 20px 0 40px;
      margin-bottom: 40px;
      text-decoration:none;
      box-sizing: border-box;
      color: #fff;
      a{
        text-decoration: none;
        color: #fff;
      }
      &__name{
        font-size: 15px;
      }
      &__message{
        font-size: 11px;
      }
      .group{
        color: #fff;
        text-decoration:none;
      }
      
    }
  }
}


.Chat.main{
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #ffffff;
  &__group-info{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__group{
      color: #333333;
      font-size: 20px;
      margin-top: 35px;
      li{
        font-size: 20px;
      }
    }
    &__name{
      color: #999999;
      display: flex;
      font-size: 12px;
      margin-top: 15px;
      list-style: none;
      li{
        font-size: 12px;
      }
    }

    .btn--edit{
      color: #38aef0;
      display: block;
      border: 1px solid #38aef0;
      height: 40px;
      width: 72px;
      margin-top: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
  }
  }
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 46px 40px 0;
    overflow: scroll;
    .MessageBox{
      margin-bottom: 40px;
    .MessageInfo{
        display: flex;
        &__userName{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .Message{
        margin-top: 10px;
        color: #434a54;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }
  &__message-form{
    background-color: #d2d2dd;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .Form{
      display: flex;
      justify-content: space-between;
    }
    .Hidden{
      display: none;
    }
  
    &__new--message{
      width: 100%;
      background-color: #fff;
      position: relative;
      display: flex;

      .message__form{
        border: none;
        height: 50px;
        width: 100%;
        padding: 0 45px 0 15px;
        box-sizing: border-box;
        }
      
      .input-box{
        height: 50px;
        position: absolute;
        right: 20px;
      }
      .input-box__image{
        line-height: 50px;
        font-size: 25px;
      }
    
    } 
  }
    .submit-btn{
      background-color: #38AEF0;
      border: none;
      color: #fff;
      font-size: 16px;
      height: 50px;
      margin-left: 20px;
      padding: 0 30px;
      }
}